<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" requirePermission="false"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="TestDBConn" connectionString="Data Source=atc-adc-08;Initial Catalog=BT_SS_DailyTestDB;Persist Security Info=no;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="Test_SegmentScoring" connectionString="TestDBConn" dataTableName="Test_SegmentScoring" dataAccessMethod="Sequential" />
      <add name="Test_SegmentValidation" connectionString="TestDBConn" dataTableName="Test_SegmentValidation" dataAccessMethod="Sequential" />
      <add name="Test_KeywordsNodes" connectionString="TestDBConn" dataTableName="Test_KeywordsNodes" dataAccessMethod="Sequential" />
      <add name="Test_UrlsNodes" connectionString="TestDBConn" dataTableName="Test_UrlsNodes" dataAccessMethod="Sequential" />
      <add name="Test_TaxonomyTree" connectionString="TestDBConn" dataTableName="Test_TaxonomyTree" dataAccessMethod="Sequential" />
      <add name="Test_SegmentFastScoring" connectionString="TestDBConn" dataTableName="Test_SegmentFastScoring" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <appSettings>
    <add key="SSDB" value="apc-server-02v8.SegmentStudioDB" />
    <add key="LabelForTestResult" value="Daily" />
    <add key="BTSeMSServer" value="net.tcp://apc-server-02v8:35012" />
    <add key="LogFilePath" value="D:\tmp\SSTest.log" />
    <add key="LogLevel" value="" />
    <add key="IsRecordLog" value="true" />
    <add key="IsCacheChannel" value="true"/>
    <!--<add key="GetResultOnly" value="false"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BTSRDBConn" value="Data Source=apc-server-02v8;Initial Catalog=BTSRDB;Persist Security Info=no;Integrated Security=SSPI" />
    <add key="SSDBConn" value="Data Source=apc-server-02v8;Initial Catalog=SegmentStudioDB;Persist Security Info=no;Integrated Security=SSPI" />
    <add key="MDSDBConn" value="Data Source=atc-adcenter20;Initial Catalog=AIMetadataDB;Persist Security Info=no;Integrated Security=SSPI" />
    <add key="CustomerId" value="0"/>
    <add key="MdsUserName" value="cctest"/>
    <add key="MdsPassword" value="asdlkj"/>

    <!-- AdExpert API Service-->
    <add key="SecurityAlgorithm" value="wsignin1.0"/>
    <add key="BaseUrl" value="http://login.live-ppe.com/"/>
    <add key="SecureUrl" value="https://login.live-ppe.com/"/>
    <add key="SiteId" value="257240"/>
    <add key="ApplicationId" value="000000005800CF56"/>
    <add key="ManagementWebServiceUrl" value="https://devadexpert03s.redmond.corp.microsoft.com/ManagementService/ManagementService.asmx"/>  
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:01:00"
      openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
      allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
      messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
      useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
    maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
    realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="SegmentStudioBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apc-server-02v8/WinService/BatchManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IBatch" name="IBatch">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/CommonManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.ICommon" name="ICommon">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/DeploymentManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IDeployment" name="IDeployment">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/ProjectManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IProject" name="IProject">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/ReportManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IReport" name="IReport">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/RuleSegmentManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IRuleSegment" name="IRuleSegment">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/MixedSegmentManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IMixedSegment" name="IMixedSegment">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/TaxSegmentManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.ITaxSegment" name="ITaxSegment">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/SolutionManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.ISolution" name="ISolution">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/UserManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IUser" name="IUser">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/VldbManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IVldb" name="IVldb">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/RuleAttributeManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IRuleAttribute" name="IRuleAttribute">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/ConstantDataManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IConstantData" name="IConstantData">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/NewsletterListManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.INewsletterList" name="INewsletterList">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/CategoryManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.ICategory" name="ICategory">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/EvaluationHelper" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IEvaluationHelper" name="IEvaluationHelper">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/ReportServiceManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.BT.SegmentStudio.ContractService.Report.IReportService" name="IReportService">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/EvaluationManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IEvaluate" name="IEvaluate">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/MonthlyReportManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.IMonthlyReport" name="IMonthlyReport">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/AuthenticationManager" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.BT.SegmentStudio.Contract.IAuthentication" name="IAuthentication">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/SegmentRepositorytService" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Contract.ISegmentRepositorytService" name="ISegmentRepositorytService">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://apc-server-02v8/WinService/StreamlineDeployment" binding="wsHttpBinding" bindingConfiguration="SegmentStudioBinding" contract="Microsoft.Advertising.BehaviorTargeting.SegmentStudio.StreamlineDeployment.IStreamliningDeployment" name="IStreamliningDeployment">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="SegmentStudio" formatter="Text Formatter" log="SegmentStudio" machineName="localhost" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Formatted EventLog TraceListener"/>
      <add fileName="SSWebSite.log" rollSizeKB="3000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="XML Formatter" header="&lt;LogEntry&gt;" footer="&lt;/LogEntry&gt;" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Rolling XML File Trace Listener"/>
      <add name="Msmq TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging " traceOutputOptions="None" queuePath="FormatName:DIRECT=OS:ATC-ADC-08\Private$\EventProcessqueue" formatter="Binary Formatter" messagePriority="Normal" timeToReachQueue="49710.06:28:15" timeToBeReceived="49710.06:28:15" recoverable="false" useAuthentication="false" useDeadLetterQueue="false" useEncryption="false" transactionType="None"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Text Formatter"/>
      <add template="    &lt;Timestamp&gt;{timestamp}&lt;/Timestamp&gt;
    &lt;Message&gt;{message}&lt;/Message&gt;
    &lt;Category&gt;{category}&lt;/Category&gt;
    &lt;Priority&gt;{priority}&lt;/Priority&gt;
    &lt;EventID&gt;{eventid}&lt;/EventID&gt;
    &lt;Severity&gt;{severity}&lt;/Severity&gt;
    &lt;Title&gt;{title}&lt;/Title&gt;
    &lt;MachineName&gt;{machine}&lt;/MachineName&gt;
    &lt;AppDomain&gt;{appDomain}&lt;/AppDomain&gt;
    &lt;ProcessID&gt;{processId}&lt;/ProcessID&gt;
    &lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;
    &lt;Win32ThreadID&gt;{win32ThreadId}&lt;/Win32ThreadID&gt;
    &lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;
    &lt;ExtendedProperties&gt;{dictionary({key} - {value})}&lt;/ExtendedProperties&gt;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="XML Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging " name="Binary Formatter"/>
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Category Filter"/>
      <add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Priority Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Application">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Config">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Exceptions">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Operations">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Statistics">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling XML File Trace Listener"/>
          <add name="Msmq TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="BUBBLE">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="DEFAULT">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="RETHROW">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="SWALLOW">
        <exceptionTypes>
          <add type="System.Exception, mscorlib" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
</configuration>
