<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="Proxy" value="itgproxy.redmond.corp.microsoft.com"/>
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False"/>      
    </defaultProxy>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
