<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="LocalRun" value="false" />
    <add key="SSDefaultSamplingRate" value="10" />
    <add key="MaxCategoriesOutputCount" value="3" />
	
    <!-- make score() date range configurable if we don't have 45 days data,
         this config value does not apply to fast scoring -->
    <add key="DefaultScoringDateRange" value="1"/>
	  
    <!-- Cosmos related settings -->
    <add key="WorkingDirectory" value="." />
    <add key="CosmosWebServicesPath" value="http://coprod3.cosmos.live.net:88/cosmos/adPlatform.AudienceIntelligence.Scoring.Prod" />
    
    <!-- In the redmond domain, we have to set the proxy as 'netproxy:80'.
         In production, the value has to be "" -->
    <add key="CosmosProxy" value=""/>
    <!-- This configuration should be left empty, unless you need to run 
    under a different user other than the default encoded cosmos user -->
    <add key="CosmosUser" value="PHX\_AIS-BTCOSMOSPD_EXE"/>
    <add key="JobPriority" value="1000" />

    <add key="NumRetries" value="5" />
    <add key="AttributeExtraction_CheckInterval" value="300" />
    <add key="AttributeExtraction_RetryInterval" value="60" />
    <add key="Segmentation_CheckInterval" value="300" />
    <add key="Segmentation_RetryInterval" value="60" />

    <add key="ViewsDir" value="/local/BT/Prod/Scoring/Views" />
    <add key="LibsDir" value="/local/BT/Prod/Scoring/Libraries" />
    <add key="ResourcesDir" value="/local/BT/Prod/Scoring/Resources" />

    <!--working dir will store the scored attribute and segment results
        cache root dir points to the root dir where the sample100, sample10 and sample0.1 data
	will be located-->
    <add key="CosmosWorkingDir" value="/local/Publishing/Authoring"/>
    <add key="CosmosCacheRootDir" value="/local/BT/Prod/Sample"/>   

    <!-- Segment validation settings, default dataset for validation is 10% sample data-->
    <add key="CosmosValidationWorkingDir" value="/local/Publishing/Validation"/>
    <add key="CosmosValidationSamplingRate" value="10"/>

    <!--Categorization output db settings-->
    <add key="CategorizationOutputSqlServer" value="CO2AISBTSQL02\CO2AISBTSQL02" />
    <add key="CategorizationOutputDatabase" value="CategorizationOutput" />
    <add key="CategorizationOutputTimeOut" value="20" />

  </appSettings>
</configuration>
